* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "space Mono";
  font-size: 62.5%;
}

:root {
  --primary-blue: rgba(0, 121, 255, 1);
  --white: rgba(255, 255, 255, 1);
  --dark-blue: rgba(30, 42, 71, 1);
  --navy-blue: rgba(20, 29, 47, 1);
}

.light {
  --primary-blue: rgba(96, 171, 255, 1);
  --navy-blue: rgba(246, 248, 255, 1);
  --dark-blue: rgba(255, 255, 255, 1);
  --white: rgba(75, 106, 155, 1);
}

body {
  background-color: var(--navy-blue);
  color: var(--white);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 32.7rem;
  margin: 3.1rem auto 0;
}

.header__title {
  font-size: 2.6rem;
  font-weight: 700;
}

.header__button {
  display: flex;
  align-items: center;
  width: 8.9rem;
  height: 2rem;
  gap: 1.6rem;
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 0.25rem;
  color: var(--white);
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 32.7rem;
  height: 6rem;
  margin-top: 3.6rem;
  padding-right: 1rem;
  background-color: var(--dark-blue);
  border-radius: 0.8rem;
}

.search__icon {
  margin-left: 1.6rem;
}

.search__input {
  margin-left: 0.9rem;
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
  font-weight: 400;
  color: red;
}

.search__button {
  margin-left: 0.7rem;
  width: 8.4rem;
  height: 4.6rem;
  background-color: var(--primary-blue);
  border-radius: 0.8rem;
  border: none;
  font-size: 1.4rem;
  font-weight: 700;
  color: var(--white);
}

.profile {
  margin-top: 1.6rem;
  padding-left: 2.4rem;
  width: 32.7rem;
  height: 51.7rem;
  background-color: var(--dark-blue);
  border-radius: 0.9rem;
}

.profile__info {
  display: flex;
  align-items: center;
  margin-top: 3.2rem;
}

.container-details {
  margin-left: 2rem;
}

.profile__image {
  width: 7rem;
  height: 7rem;
}

.profile__name {
  font-size: 1.6rem;
  font-weight: 700;
}

.profile__username {
  color: var(--primary-blue);
  font-size: 1.3rem;
  font-weight: 400;
}

.profile__joined {
  margin-top: 0.6rem;
  font-size: 1.3rem;
  font-weight: 400;
}

.profile__description {
  margin-top: 3.2rem;
  font-size: 1.3rem;
  font-weight: 400;
}

.profile__stats {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: space-between;
  width: 27.9rem;
  height: 8.5rem;
  margin-top: 2.3rem;
  padding: 0 1.5rem 0;
  border-radius: 0.8rem;
  background-color: var(--navy-blue);
}

.profile__stat {
  text-align: center;
}

.profile__stat p {
  margin-bottom: 0.8rem;
  font-size: 1.1rem;
  font-weight: 400;
}

.profile__stat span {
  font-size: 1.6rem;
  font-weight: 700;
}

.profile__details {
  margin-top: 2.4rem;
}

.profile__detail {
  margin-bottom: 1.6rem;
}

.profile__detail img {
  color: var(--white);
}

.profile__span {
  margin-left: 1.9rem;
  font-size: 1.3rem;
  font-weight: 400;
  color: var(--white);
  text-decoration: none;
}

@media screen and (min-width: 35.7rem) {
}
