@media screen and (min-width: 768px) {
  .header {
    width: 57.3rem;
  }

  .search__input {
    padding: 0rem 23.9rem 0rem 8rem;
    width: 57.3rem;
    height: 6.9rem;
    font-size: 1.8rem;
  }

  .search__icon {
    left: 12rem;
    width: 2.4rem;
    height: 2.4rem;
  }

  .search__button {
    left: 70rem;
    width: 10.6rem;
    height: 5rem;
  }

  .profile {
    padding-left: 4rem;
    width: 57.3rem;
    height: 48.1rem;
  }

  .profile__info {
    margin-top: 4rem;
  }

  .container-details {
    margin-left: 4.1rem;
  }

  .profile__image {
    width: 11.7rem;
    height: 11.7rem;
  }

  .profile__name {
    font-size: 2.6rem;
  }

  .profile__username {
    font-size: 1.6rem;
  }

  .profile__joined {
    font-size: 1.5rem;
  }

  .profile__description {
    margin-top: 2.4rem;
    font-size: 1.5rem;
  }

  .profile__stats {
    width: 49.3rem;
    height: 8.5rem;
    margin-top: 3.2rem;
  }

  .profile__details {
    display: grid;
    grid-template-columns: repeat(2, auto);
    margin-top: 2.4rem;
  }
}
